{% extends 'core/core.html' %}

{% block content %}

<script type="text/javascript">
    function IsEmpty() {
      x= document.forms["signup_form"]["name"].value
      if (x=="")
      {
        alert("name is not empty")
        return false;
      }

      y= document.forms["signup_form"]["email"].value
      if (y=="")
      {
        alert("email is not empty")
        return false;
      }
      return true;
    }
  </script>

<section class="vh-100">
  <div class="container ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-12">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-12 order-2 order-lg-1">

                <form method="post" name="signup_form" class="mx-1 mx-md-4">
                  {% csrf_token %}

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="text-primary form-label" style="width:50px" >Email</label>
                      <input class ="col-xl-2" name="email" ></input>
                      {% if noti %}
                      <label> {{noti}} </label>
                      {% endif %}
                    </div>
                  </div>
                  <button type="submit" onclick="return IsEmpty()" class="btn btn-success btn-lg">Next</button>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}