{% extends 'core/core.html' %}

{% block content %}

<script type="text/javascript">
    function IsEmpty() {
      x= document.forms["signup_form"]["privatekey"].files.length
      if (x==0)
      {
        document.getElementById('k-noti').innerText= "please enter your private key"
        document.getElementById('k-noti').style.color= "red"
        return false;
      }
      else
      {
        document.getElementById('k-noti').innerText= ""
      }

      y= document.forms["signup_form"]["file"].files.length
      if (y==0)
      {
        document.getElementById('f-noti').innerText= "please enter your file"
        document.getElementById('f-noti').style.color= "red"
        return false;
      }
      else
      {
        document.getElementById('f-noti').innerText= ""
      }
      return true;
    }
  </script>

<section class="vh-100">
  <div class="container ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-9">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body ">
            <div class="row justify-content-center">
              <h4 class="text-center my-3 pb-3">GENERATE SIGNATURE</h4>
              <div class="col-md-10 col-lg-6 col-xl-12 order-2 order-lg-1">

                <form enctype="multipart/form-data"  method="post" name="signup_form" class="mx-1 mx-md-4">
                  {% csrf_token %}
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="col-xl-12 text-success form-label">{{noti}}</label>
                      <label class="col-xl-12 text-danger form-label">{{error}}</label>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="col-xl-3 text-primary form-label">Name</label>
                      <label class="col-xl-6">{{member.name}}</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="col-xl-3 text-primary form-label" >Email</label>
                      <label class ="col-xl-6" >{{member.email}}</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="col-xl-3 text-primary form-label" >Email of receiver</label>
                      <input name="r-email" type="email">
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="col-xl-3 text-primary form-label" >Private member key</label>
                      <input name="privatekey" type="file">
                      <label id="k-noti" style="color:red">{{key_error}}</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="col-xl-3 text-primary form-label" >File</label>
                      <input name="file" type="file">
                      <label id="f-noti"></label>
                    </div>
                  </div>
                  <div class="col-xl-12 d-flex justify-content-end">
                    <button type="submit" onclick="return IsEmpty()" class="btn btn-success btn-lg">Generate signature</button>
                  </div>
                  </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}