{% extends 'base/base.html' %}
{% load static %}

{% block content %}
	<div class="container">
		<div class="col-xl-12">
			<div class=" flex-column d-flex justify-content-center align-items-center bg-white">
				<h2 style="height:60px">VNUHCM-University Of Science</h2>
				<h3>Hồ Quốc Trung</h3>
				<h3 style="height:60px" class="justify-content-center">Mssv:1712245</h3>
				<h3 style="height:100px" class="w-50"> A GROUP SIGNATURE SCHEME BASED ON AN RSA-VARIANT</h3>
				<div class="w-100">
					<div class="flex-column d-flex justify-content-end align-items-end">
						<h3>Giáo viên hướng dẫn: Nguyễn Đình Thúc</h3>
					</div>
				</div>

			</div>
		</div>

	</div>
{% endblock %}




